APPWRITE_ENDPOINT=https://sgp.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=6a89db4c00229eba40ca
APPWRITE_DATABASE_ID=6a89dc580022c8de2e51
APPWRITE_PROFILES_COLLECTION_ID=profiles
APPWRITE_FILES_COLLECTION_ID=files
APPWRITE_STORAGE_BUCKET_ID=6a8a8af20011e4c3163d
